<div class="container tamanho">
  <h1 mat-dialog-title>Adicione a Matéria a Nota da mesma</h1>
  <div fxLayout="column" fxLayoutAlign="space-between stretch">
      <mat-form-field appearance="outline">
          <mat-label>Matéria</mat-label>
          <input matInput >
      </mat-form-field>
      <mat-form-field appearance="outline">
          <mat-label>Nota</mat-label>
          <input matInput >
      </mat-form-field>
  </div>
  <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
      <button mat-button>Salvar</button>
  </div>
  </div>
