<div class="container" fxLayout="column" fxLayoutAlign="space-between">

  <div fxLayout="row" fxLayoutAlign="end center">
    <mat-form-field>
      <mat-label>Legacy form field</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-mini-fab color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </div>


  <div fxLayout="row">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 tabela-grande">

      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="materia">
        <th mat-header-cell *matHeaderCellDef> Matéria </th>
        <td mat-cell *matCellDef="let aluno"> {{aluno.materia}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="nota">
        <th mat-header-cell *matHeaderCellDef> Nota </th>
        <td mat-cell *matCellDef="let aluno"> {{aluno.materia.nota}} </td>
      </ng-container>



      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
